
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>This is my kewl new blog that I started today, let's go!!!!
    365 days of coding day 1!!!</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">365 days of code</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <br><br><br>
        <h1>John Slota's blog 01/13/2016</h1>
        <p class="lead">Great day today, got a lot done in terms of the nokogiri scraper and figuring out how to test data,
                        using an html file. Funny enough but it's actually really simple. After I built the nokogiri basic puller,
                        which is found easily enough on their website, I had my logic in the welcome controller, it was a little difficult to connect
                        the welcome controller to a services folder where we built the name_serivce app, I spent a few hours trying to do this,
                        and then I believe I hadn't refreshed the browser which finally got it working, shouldn't have been so difficult,
                        Once that was connected it was time to get testing going, the fun thing was here because we were able to get a name.html
                        saved into a support folder, the hard part here was figuring out how to open the file for testing purposes, at first we thought
                        require was suppose to be used and after asking several of my peers we could not solve it, finally we discovered that
                        the solution lay in opening the html file so if you were using a test file, a simple open '/.test/support/name.html'. This part
                        took forever but these are the times when finding the solution are so rewarding, we have set up our testing now and building
                        very dynamic methods, TDD is a blast when used correctly, it makes coding truly fun

                        P.S. I might not be submitting code I'm actually working on this week, but alas I am working on code outside of git hub
                        so do not be concerned!
                        P.S. this site rewls http://ruby.bastardsbook.com/chapters/html-parsing/


         </p>John Slota's blog 01/11/2016
        <h1>John Slota's blog 01/12/2016</h1>
        <p class="lead">Today was difficult, I didn't get enough sleep last night I think because I suffered today,
                        I spent too much time on pushing my stack down and builidng a service folder to scrape data
                        from a web page. Finally I found out something new today so that's the great thing. In your rails
                        apps you can put a html file in your testing suite in a support file and then open it up in the test helper,
                        this makes it great and easy for testing especially an html, that's all for today!

         </p>John Slota's blog 01/11/2016
        <p class="lead">Wow, today was nuts and I barely got my blogging in, gotta keep it more on lock next. .
                        At class today we wen't over AJAX and ways to use it with javascript, we then started work
                        on our personal projects. They are dope, I can't really talk about it, but we are using
                        nokogiri a web scraper to get data from web pages, after this I'll basically be a coding ninja. .
                        Also, went more over bitcoin today, understanding more in depth the ledger and tracking abilities,
                        night! We'll talk more about nokogiri tomorrow.

         </p>
        <h1>John Slota's blog 01/10/2016</h1>
        <p class="lead">So today I'm back on the grind for making our snapsfromlastnight.com
                        I'm still in a horrible location for working on my code, ugh, so we
                        might not be getting far today either. However, I've set up the views
                        and we can talk about this a little today, basically in our views
                        file we want to make a welcome folder and under here index.html.erb
                        which matches are route action for our welcome controller, the index..
                        If you type rails s into your terminal while your in the root of your rails application
                        it should load up your page on the url http://localhost:3000/. The backlash after
                        the 3000 should lead to your home page, type in the classic hello world in your view template
                        and see if your message appears, if it does you know you're ready to go,
                        the next step is bootstrap, checkout out bootstrap.com to learn a little bit more about it!

         </p>
        <h1>John Slota's blog 01/09/2016</h1>
        <p class="lead">Today I'm going to start building our API for a site called snapsfromlastnight.com
                        It's pretty self explanatory, we're going to let people post snap chats from the night
                        before, hopefull people have a good time!
                        Let's get started!!
                        Step one: Rails new nightsnap, that's literally the command for the terminal if you have rails!!
                        If you don't have rails, please check the post below!!
                        Step two: for right now all need is a sweet index page to show all our night snaps, so let's go to
                        our newly created nightsnap program and checkout the routes file, press shift + p and type in routes and you'll be in the right place,
                        also you should be accessing the new app in atom or vim, two great text editors, type in root 'welcome#index'
                        and you'll be good to go for your routes!!
                        Step 3: The next step is to go and make a welcome_controller.rb file under controllers,
                        type class WelcomeController < Application Controller so that the file is named correctly and inherits from the Application Controller,
                        and then the method inside is def index, make sure you end both with two ends!!
                        Step 4: Now all you need is a welcome folder under your views folder, with a index.html.erb, then type in your html!!
                        Step 5: This is views and we'll get more into this tomorrow to use bootstrap, my internet might not be working so this is all for today!
         </p>
        <h1>John Slota's blog 01/08/2016</h1>
        <p class="old">This is day one of a blog to talk about my software experience.
                        The site that I build my blog on is a basic ruby on rails app,
                        with a postgres sql database, if you have any questions on setting
                        up, please feel free to shoot me a message at John.Slota@gmail.com
                        I'm currently a student at the Turing School of Software of Design,
                        I have a passion towards using technology to help the average person
                        and my real passion lies in bitcoin but I'm also interested in learning
                        how good businesses work. As a developer I am interested in agile programming
                        and I would love to stay in my hometown Denver, Colorado or at least
                        work somewhere in the west, aka California, Utah, Arizona, Oregon or Washington

                        On to this site, it was developed using ruby on rails, and rails,
                        To install rails all you have to do is go to this site, http://rubyonrails.org/download/,
                        open your terminal, I recommend downloading iterm as I use it and it works wonderfully,
                        https://www.iterm2.com/. Installing rails is an easy deal and hopefully you can code in Ruby,
                        I'll go more into the routes and building of a basic site tomorrow, also I'll improve this site,
                        while I write about coding in rails and ruby on rails.
                        Bon Voyage!!</p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
